// ===========================================    Roboto    ===========================================
$roboto-font-path: "~roboto-fontface/fonts/";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

// ===========================================    DIN Alternate    ===========================================
@font-face {
  font-family: DIN_Alternate;
  src: url("../fonts/DIN Alternate/DIN Alternate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DIN_Alternate;
  src: url("../fonts/DIN Alternate/DIN Alternate Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// ===========================================    TTNorms    ===========================================
@import "../fonts/TTNorms/stylesheet.css";
